<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.hoganmcdonald.github-gtd</string>
  <key>ProgramArguments</key>
  <array>
    <string>{{ ansible_facts.user_dir }}/.local/libexec/github-gtd/run</string>
  </array>
  <key>EnvironmentVariables</key>
  <dict>
    <key>HOME</key>
    <string>{{ ansible_facts.user_dir }}</string>
    <key>USER</key>
    <string>{{ ansible_facts.user_id }}</string>
    <key>PATH</key>
    <string>{{ github_gtd_tool_path }}:/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
  </dict>
  <key>RunAtLoad</key>
  <true/>
  <key>StartInterval</key>
  <integer>{{ github_gtd_refresh_interval }}</integer>
  <key>StandardOutPath</key>
  <string>/dev/null</string>
  <key>StandardErrorPath</key>
  <string>/dev/null</string>
</dict>
</plist>
