#!/bin/bash

set -o errexit
set -o nounset

LOG="{{ ansible_facts.user_dir }}/.local/state/github-gtd/github-gtd.log"
MAX_BYTES=1048576
umask 077

if [ -f "$LOG" ] && [ "$(stat -f '%z' "$LOG")" -ge "$MAX_BYTES" ]; then
  rm -f "$LOG.5"
  for number in 4 3 2 1; do
    [ ! -f "$LOG.$number" ] || mv "$LOG.$number" "$LOG.$((number + 1))"
  done
  mv "$LOG" "$LOG.1"
fi

exec "{{ github_gtd_python_path }}" \
  "{{ ansible_facts.user_dir }}/.local/libexec/github-gtd/sync.py" \
  --sla-hours "{{ github_gtd_sla_hours }}" >>"$LOG" 2>&1
