- name: Link global gitignore file
  file:
    src: "{{ dotfiles_home }}/roles/git/files/gitignore_global.link"
    dest: "{{ dotfiles_user_home }}/.gitignore_global"
    state: link
    force: yes

- name: Check if gitconfig exists
  stat: path="{{dotfiles_user_home}}/.gitconfig"
  register: gitconfig_stat

- name: Back up gitconfig
  command: mv ~/.gitconfig ~/.gitconfig.bak
  args:
    creates: "{{dotfiles_user_home}}/.gitconfig.bak"
  when: gitconfig_stat.stat.exists

- name: Link gitconfig file
  file:
    src: "{{ dotfiles_home }}/roles/git/files/gitconfig"
    dest: "{{ ansible_user_dir }}/.gitconfig"
    state: link
    force: yes

- name: Install github cli
  homebrew:
    name: gh

- name: Install lazygit
  homebrew:
    name: lazygit

- name: Install git-town
  homebrew:
    name: git-town

- name: Create lazygit config directory
  file:
    path: "{{ ansible_user_dir }}/.config/lazygit"
    state: directory
    mode: "0755"

- name: Create .bin directory
  command: "mkdir -p ~/.bin"

# Scripts used in gitconfig
- name: Link stats script
  file:
    src: "{{ dotfiles_home }}/roles/git/files/git-branch-stats.link"
    dest: "{{ dotfiles_user_home }}/.bin/git-branch-stats.sh"
    state: link
    force: yes

- name: Link copy script
  file:
    src: "{{ dotfiles_home }}/roles/git/files/git-copy-branch.link"
    dest: "{{ dotfiles_user_home }}/.bin/git-copy-branch.sh"
    state: link
    force: yes

- name: Link cleanup script
  file:
    src: "{{ dotfiles_home }}/roles/git/files/git-delete-branches.link"
    dest: "{{ dotfiles_user_home }}/.bin/git-delete-branches.sh"
    state: link
    force: yes
