- name: Prepare to install sketchybar
  homebrew_tap:
    name: FelixKratz/formulae

- name: Check if SF-Symbols is already installed
  stat:
    path: /Applications/SF Symbols.app
  register: sf_symbols_app

- name: Install SF-Symbols
  shell: brew install --cask sf-symbols
  when: not sf_symbols_app.stat.exists
  environment:
    HOMEBREW_NO_ENV_HINTS: "1"

- name: Install sketchybar
  homebrew:
    name: sketchybar

- name: Install SbarLua from source
  shell: |
    git clone https://github.com/FelixKratz/SbarLua.git /tmp/SbarLua && \
    cd /tmp/SbarLua/ && \
    make install && \
    rm -rf /tmp/SbarLua/
  args:
    creates: "{{ ansible_env.HOME }}/.local/share/sketchybar_lua/sketchybar.so"

- name: Check if config exists
  stat: path="{{ config }}/sketchybar"
  register: sketchybar_config_stat

- name: Back up config
  command: "mv {{ config }}/sketchybar {{ config }}/sketchybar_old"
  args:
    creates: "{{ config }}/sketchybar_old"
  when: sketchybar_config_stat.stat.exists

- name: Make sure config is up to date
  file:
    src: "{{ dotfiles_home }}/roles/sketchybar/files/"
    dest: "{{ config }}/sketchybar"
    state: link
    force: yes

- name: Start sketchybar
  command: brew services start sketchybar
