{
  "$schema": "https://opencode.ai/config.json",
  "model": "anthropic/claude-sonnet-4-6",
  "autoupdate": "notify",
  "snapshot": true,
  "provider": {
    "anthropic": {
      "options": {
        "apiKey": "{{ anthropic_api_key }}"
      }
    }
  }
}
