- name: Add neovim plugin
  command: asdf plugin add neovim
  register: nvim_add
  failed_when: nvim_add == 2

- name: Check if nightly version is already installed
  shell: asdf list neovim | grep -q nightly
  register: nightly_check
  failed_when: false
  changed_when: false

- name: Uninstall previous nightly version
  command: asdf uninstall neovim nightly
  when: nightly_check.rc == 0

- name: Install neovim nightly
  command: asdf install neovim nightly

- name: Set nightly as the global neovim version
  command: asdf global neovim nightly

- name: Make sure config is up to date
  file:
    src: "{{ dotfiles_home }}/roles/neovim/files/"
    dest: "{{ config }}/nvim"
    state: link
    force: yes

- name: Decrypt neovim environment variables
  ansible.builtin.include_vars:
    file: "{{ dotfiles_home }}/vault/neovim_env_vars.yml"
    name: env_vars
  no_log: false # Avoid logging sensitive information

- name: Create Neovim .env file with secure tokens
  ansible.builtin.template:
    src: neovim_env_template.j2
    dest: "{{ config }}/nvim/.env"
    mode: "0600" # Ensure only the user has access to the .env file
